.slippage-tolerance {
  display: flex;
  align-items: center;
  margin-block: 15px;
}

.slippage-tolerance > .slippage-tolerance__amount{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.slippage-tolerance > .slippage-tolerance__amount p{
  color: white;
}

.slippage-tolerance .slippage-tolerance__amount button{
  padding: 0 5px;

  background-color: inherit;
  font-size: x-large;
  color: #22a24d;
  margin: 0;
}
/* 
.slippage-tolerance input {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  min-width: 360px;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  background-color: var(--main-dark-green);
} */
