.stake_form_field {
  background-color: #415c4e;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid var(--green);
  margin-block: 10px;
}

.stake_form_field .stake-title {
  font-size: large;
}

.stake_form-group {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
}

.stake_form-group input {
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  background-color: var(--main-dark-green);
}

.stake_balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .stake_form-group {
    flex-direction: column;
  }
  .stake_form-group input {
    margin-top: 10px;
  }
}
