
.pool__containers .link-to-address {
    margin-block: 10px 15px;
    font-size: large;
    color: var(--green);
    cursor: pointer;
  }
  
  .pool__containers .link-to-address .link {
    color: #fff;
    font-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .pool__containers .link-to-address .icon {
    font-size: x-large;
    color: var(--green);
    margin-left: 5px;
  
  }
  