.pool-card {
  text-align: center;
}

.pool__containers .link-to-address {
  margin-block: 10px 15px;
  font-size: large;
  color: var(--green);
  cursor: pointer;
}

.pool__containers .link-to-address .link {
  color: #fff;
  font-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.pool__containers .link-to-address .icon {
  font-size: x-large;
  color: var(--green);
  margin-left: 5px;

}

.pool-icon {
  background-color: inherit;
  border: none;
  color: #22a24d;
  margin-block: 20px;
  font-size: large;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-inline: auto;
  cursor: pointer;
}

.pool-actions {
  display: flex;
  margin-block: 20px 0;
  justify-content: space-between;
}

.pool-actions button {
  width: 98%;
}

.pool-actions button.supply {
  margin-right: 10px;
}

.pool-actions button:hover {
  opacity: 0.8;
}

.token-pool__containers {
  display: flex;
  flex-direction: column;
}
