.pool-card {
  text-align: center;
}

.pool-icon {
  background-color: inherit;
  border: none;
  color: #22a24d;
  margin-block: 20px;
  font-size: large;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-inline: auto;
  cursor: pointer;
}

.pool-actions {
  display: flex;
  margin-block: 20px 0;
  justify-content: space-between;
}

.pool-actions > div{
width: 50%;
}

.pool-actions button {
  width: 98%;
}

.pool-actions button.supply {
  margin-left: 10px;
}

.pool-actions button:hover {
  opacity: 0.8;
}

.token-pool__containers {
  display: flex;
  flex-direction: column;
}
