.token-container {
  background-color: #415c4e;
  border-radius: 15px;
  padding: 20px;
  padding-inline: 30px 0;
  border: 1px solid var(--green);
}

.token-container .amount {
  display: flex;
  justify-content: space-between;
}

.token-container .amount .logo img {
  width: 60px;
  height: 60px;
}

.token-container .amount .logo p {
    margin-top: 15px;
    font-size: x-large;
    margin-top: 15px;
}

.token-container .amount > div {
  width: 50%;
}

.token-container .amount .form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.token-container .amount .form-group input {
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  background-color: var(--main-dark-green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.token-container .balance {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.token-container .balance p {
  width: 50%;
}

.token-container .balance p.balance-amount {
  text-align: center;
}
