.tokens-inwallet > p {
  color: #fff;
  font-size: x-large;
  font-weight: 700;
}

.tokens-inwallet_container {
  display: flex;
  margin-block: 20px;
}

.tokens-inwallet_container > div {
  width: 50%;
}
