.tokens-inwallet > p {
  color: #fff;
  font-size: x-large;
  font-weight: 700;
}

.tokens-inwallet_container {
  display: flex;
  margin-block: 20px;
}

.tokens-inwallet_container > div {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .tokens-inwallet_container {
    flex-direction: column;
  }
  .tokens-inwallet_container > div {
    margin-block: 5px;
  }
}
