.token-inwallet_container {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

.token-inwallet_container img {
  width: 40px;
  height: 40px;
}

.token-inwallet_container p {
  font-size: large;
  margin-left: 1.6rem;
}
